.slcards-container{
      display: flex;
      flex-direction: column;
      align-items: center;      
      width: 450px;
      height: 675px;      
      margin-top: 60px;
      margin-right: auto;
      border-radius: 20px;
      background-color: #0061FE;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.sl-card{
      display: flex;
      align-items: center;         
      width: 300px;
      height: 100px;
      background-color: #001840 ;
      border-radius: 20px;
      margin-top: 28px;
}
.img-card{
      background-image: url(../../assets/tw3-cover.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 60px;
      height: 75px;
      border-radius: 6px;
      margin-left: 10px;      
      margin-right: 20px;      
}
.name-card{
      color: #eee;
      
}